/*PORTFOLIO*/
@media screen and (min-width: 701px) and (max-width:956px) {
	.portfolio-foto-item:nth-child(3n) {
		margin-right: 35px;
	}
	.portfolio-foto-item:nth-child(2n) {
		margin-right: 0px;
	}
}
@media screen and (min-width: 480px) and (max-width:700px) {
	.portfolio-foto-item:nth-child(3n) {
		margin-right: 35px;
	}
	.portfolio-foto-item {
		margin-left: 35px;
	}
}
@media screen and (max-width:479px) {
	.portfolio-foto-item:nth-child(3n) {
		margin-right: 0px;
	}
	.portfolio-foto-item {
		margin-right: 0px;
	}
}
@media screen and (max-width:340px) {
	.portfolio-foto-item {
		width: 90%;

	}
}
/*PORTFOLIO*/
@media screen and (min-width: 480px) and (max-width:768px){

	.header{
		padding-bottom: 60px;
	}

	.wrap{
		width: 90%;
	}

	.header .menu-item{
		padding: 0 10px;
	}

	.header-title{
		margin-top: 80px;
	}
	
	 h1.title-main{
		font-size:45px;
		margin: 30px 0 50px;
	}

	.row-text {
		width:60%;
	}

	.aboutus-img{
		width:40%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}

	.img-wrap{
		width:100%;
		height: auto;
	}

	.aboutus .wrap:after{
		content:none;
	}
}

@media screen and (min-width: 320px) and (max-width:480px)
{

	.wrap{
		width: 87.5%;
	}
	
	.header{
		padding-bottom: 40px;
	}

	.header-title{
		margin-top: 55px;
	}
	
	.header .menu{
		display: block;
		width: 48px;
		height: 48px;
		background-image: url('../pic/burger.png');
		background-repeat: no-repeat;
		cursor: pointer;
	}

	.header .menu a{
		display:none;
	}

	h1.title-main{
		font-size:26px;
		margin: 30px 0 50px;
	}

	.header .title-top{
		font-size: 24px;
	}

	.header .button{
		width: 180px;
		height: 50px;
		font-size: 14px;
		line-height: 50px;
	}
	
	.header .menu{
		display: block;
		width: 48px;
		height: 48px;
		background-image: url('../pic/burger.png');
		background-repeat: no-repeat;
		cursor: pointer;
	}

	.header .menu a{
		display:none;
	}

	.row-text {
		width:50%;
	}

	.aboutus-img{
		width:50%;
		padding: 0 10px;
	}

	.aboutus .wrap::after{
		content: none;
	}

}

@media screen and (max-width:320px)
{
	

	.wrap{
		width: 93.1%;
	}
	
	.header{
		padding-bottom: 40px;
	}

	.header-title{
		margin-top: 50px;
	}

	h1.title-main{
		font-size:22px;
		margin: 20px 0 30px;
	}

	.header .title-top{
		font-size: 22px;
	}

	.header .button{
		width: 140px;
		height: 40px;
		font-size: 12px;
		line-height: 40px;
	}

	.aboutus .wrap::after{
		content: none;
	}

	.aboutus-img{
		width:100%;
		padding: 0 10px;
	}

	.row-text {
		width:90%;
		padding: 0 5% 20px;
	}

	.row-text h3
	.row-text div{
		
		text-align: center !important;
	}
}