@media screen and (max-width:768px){

	.header{
		padding-bottom: 60px;
	}

	.wrap{
		width: 690px;
	}

	.header-title{
		margin-top: 80px;
	}
	
	 h1.title-main{
		font-size:50px;
		margin: 30px 0 50px;
	}
	.row-text {
		width:60%;
	}



	.aboutus-img{
		width:40%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}

	.img-wrap{
		width:100%;
		height: auto;
	}

	.aboutus .wrap:after{
		content:none;
	}
}

@media screen and (max-width:480px)
{

	.wrap{
		width: 420px;
	}
	
	.menu{
		display:none;
	}

	h1.title-main{
		font-size:30px;
		margin: 30px 0 50px;
	}

	.header .title-top{
		font-size: 30px;
	}

	.header .button{
		width: 180px;
		height: 50px;
	}

	.row-text {
		width:50%;
	}
	.aboutus-img{
		width:50%;
		padding: 0 10px;
	}
}

@media screen and (max-width:320px)
{

	.row-text {
		width:90%;
		padding: 0 5% 20px;
	}
	.aboutus-img{
		width:100%;
		padding: 0 10px;
	}

	.row-text h3
	.row-text div{
		
		text-align: center !important;
	}
}