.footer {
	font-size: 0;
	height: 90px;
}

.footer .center{
	width: 940px;
	margin:0 auto;
	text-align: center;
	height: 100%;
}

.footer .col{
	float: left;
	width:33.33%;
	height: 100%;
}

.footer .col::after{
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.copyright {
	color: #555;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	display: inline-block;
}

.icons {
	display: inline-block;
	vertical-align: middle;
}

.icons li{
	float: left;
	margin-right: 10px;
}

