.portfolio {
	width: 100%;
	background-color: #f7f7f7;
	text-align: center;
	padding-top: 120px;
}
.under-title-text {
	padding-bottom: 76px;
}
.portfolio-foto {
	text-align: center;
	display: block;
	width: 960px;
	margin: 0 auto;
	padding-bottom: 120px;
	font-size: 0px;
}
.portfolio-foto-item {
	width: 290px;
	display: inline-block;
	background-color: white;
	text-align: center;
	margin: 0 1.5% 50px;
}
.portfolio-foto-item img {
	margin-bottom: 29px;
}