.clearfix:after {
	content: '';
	clear: both;
	display: table;
	overflow: hidden;
		}
.services {
	width: 100%;
	height: 568px;
	text-align: center;
	
}
.title-all {
	color: #222;
	font-family: "Montserrat";
	font-size: 40px;
	font-weight: 700;
	line-height: 75px;
	text-transform: uppercase;
}
.services .title-all {
	padding: 120px 0px 0px 0px;
}
.under-title-text {
	color: #777;
	font-family: DroidSerif;
	font-size: 16px;
	font-style: italic;
}
.under-title-text {
	padding: 0px;
}
.proin {
	width: 100%;
	height: 305px;
	margin: 0 auto;
}
.proin1 {
	float: left;
	width: 274px;
}
.proin2 {
	float: left;
	width: 274px;
}
.proin3 {
	float: left;
	width: 274px;
}
.center {
	width: 825px;
	margin: 0 auto;
	padding: 77px 0px 0px 0px;
}
.proin1 h3 {
	padding: 26px 0px 18px 0px;
}
.proin2 h3 {
	padding: 26px 0px 18px 0px;
}
.proin3 h3 {
	padding: 26px 0px 18px 0px;
}