.team {
	width: 100%;
	background-color: #f9f9f9;
	text-align: center;
	padding-top: 119px;
}
.under-title-text {
	padding-bottom: 76px;
}
.team-item {
	margin: 0 auto;
	font-size: 0px;
}
.team-item-block {
	display: inline-block;
	text-align: center;
	margin: 0 23px;
}
.circle {
	width: 234px;
	height: 234px;
	background-color: #111;
	border: 7px solid white;
	border-radius: 50%;
}
.team-footer-text {
	color: #777;
	font-family: RobotoSlab;
	font-size: 16px;
	font-weight: 400;
	width: 600px;
	margin: 0 auto;
	padding-bottom: 117px;
}
.icons {
	width: 40px;
	height: 40px;
	background-color: #f9f9f9;
	border: 3px solid #222;
	display: inline-block;
	border-radius: 50%;
	margin: 14px 5px 51px;
	line-height: 40px;
}
.icons img {
	vertical-align: middle;
}
.team-footer {
	text-align: center;
	margin-top: 60px;
	width: 100%;
	background-color: white;
}
.team-footer img {
	margin: 0 20px 0;
}	
