<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>contact us</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/base.css">
	<link rel="stylesheet" href="../css/contact.css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="contact">
		<h2 class="title-all title-all-white">Contact us</h2>
		<p class="under-title-text">Proin iaculis purus consequat sem cure. </p>
		<div class="forma">
			<div class="left clearfix">
				<input class="forma-left" placeholder="your Name *"></input>
				<input class="forma-left" placeholder="your e-mail *"></input>
				<input class="forma-left" placeholder="subject"></input>
			</div>
			<div class="right clearfix">
				<textarea class="forma-right">Your message *</textarea>
			</div>
		</div>
		<div class="button">
			<a href="#">Send Message</a>
		</div>
		<figure class="map">
			<img src="../pic/map-image.png" alt="">
		</figure>
	</div>

</body>
</html>