<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Studio</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/futer.css">
    <link rel="stylesheet" href="../css/base.css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="futer">
    <span class="copyright"> <p>© Copyright 2014 FreebiesXpress.com</p></span>
        <div class="futer_centr">
    	  <img src="../pic/twitter_01.png" alt=""> 
          <img src="../pic/facebook_01.png" alt="">
          <img src="../pic/pinterest_01.png" alt="">
          <img src="../pic/google_01.png" alt=""> 
        </div>
	</div>
    <div class="finifh"></div>
</body>
</html>