<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Golden</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/base.css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
</head>
<body>
	<section class="header">
	<div class="wrap">
		<div class="header-top clearfix">
			<div class="logo">
				<img src="../pic/logo.png" alt="">
			</div>
			<nav class="menu">
				<a href="" class="menu-item">Home</a>
				<a href="" class="menu-item">Services</a>
				<a href="" class="menu-item">Portfolio</a>
				<a href="" class="menu-item">About</a>
				<a href="" class="menu-item">Contact</a>
			</nav>	
		</div>
		<div class="header-title">
		<span class="title-top">Welcome to our studio</span>
		<h1 class="title-main">It's nice to meet you</h1>
		</div>

		<div class="button">
			<a href="">Tell me more</a>
		</div>

	</div>			
	</section>

	<section class="aboutus">
		<div class="wrap">
			<h2 class="title-all">About us</h2>
			<span class="under-title-text">Lorem ipsum dolor sit amet.</span>
			<ul class="aboutus-list">
				<li class="row clearfix">
					<div class="row-text">
						<h3 class="aboutus_title">July 2010</h3>
						<h3 class="aboutus_title_small">Our Humble Beginnings</h3>
						<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, similique? Ducimus debitis recusandae iste consequuntur quaerat numquam nam quidem pariatur fuga repellat est, minus, odit rem ex cum, placeat aliquam!</div>
					</div>

					<div class="aboutus-img">
						<div class="img-wrap">
							<img src="../pic/aboutus_01.png" alt="">
						</div>
					</div>

				</li>

				<li class="row clearfix">
					
					<div class="empty">&nbsp;
					</div>

					<div class="aboutus-img">
							<div class="img-wrap">
								<img src="../pic/aboutus_02.png" alt="">
							</div>
					</div>
					<div class="row-text">
						<h3 class="aboutus_title">January 201</h3>
						<h3 class="aboutus_title_small">Facing Startup Battles</h3>
						<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, similique? Ducimus debitis recusandae iste consequuntur quaerat numquam nam quidem pariatur fuga repellat est, minus, odit rem ex cum, placeat aliquam!</div>
					</div>
				</li>

				<li class="row clearfix">
					<div class="row-text">
						<h3 class="aboutus_title">December 2012</h3>
						<h3 class="aboutus_title_small">Enter The Dark Days</h3>
						<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, similique? Ducimus debitis recusandae iste consequuntur quaerat numquam nam quidem pariatur fuga repellat est, minus, odit rem ex cum, placeat aliquam!</div>
					</div>

					<div class="aboutus-img">
						<div class="img-wrap">
							<img src="../pic/aboutus_03.png" alt="">
						</div>
					</div>

				</li>

				<li class="row clearfix">
					
					<div class="empty">&nbsp;</div>

					<div class="aboutus-img">
							<div class="img-wrap">
								<img src="../pic/aboutus_04.png" alt="">
							</div>
					</div>
					<div class="row-text">
						<h3 class="aboutus_title">Fabruary 2014</h3>
						<h3 class="aboutus_title_small">Our Triumph</h3>
						<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, similique? Ducimus debitis recusandae iste consequuntur quaerat numquam nam quidem pariatur fuga repellat est, minus, odit rem ex cum, placeat aliquam!</div>
					</div>
				</li>
				
				<li class="row">
					<div class="circle">
						<span>
							Our<br>story<br>continues<br>...
						</span>
					</div>
				</li>

			</ul>

		</div>
	</section>


</body>

</html>