<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Our Portfolio</title>
	<link rel="stylesheet" href="..//css/reset.css">
	<link rel="stylesheet" href="portfolio.css">
	<link rel="stylesheet" href="..//css/base.css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="portfolio">
		<h2 class="title-all">Our portfolio</h2>
		<p class="under-title-text">Proin iaculis purus consequat sem cure. </p>
		<ul class="portfolio-foto">
			<li class="portfolio-foto-item">
				<img src="..//pic/portfolio1.jpg">
				<h3 class="img-title">Ebony & Ivory</h3>
				<p class="img-title-text">Branding</p>
			</li>
			<li class="portfolio-foto-item">
				<img src="..//pic/portfolio2.jpg">
				<h3 class="img-title">Smart Stationary</h3>
				<p class="img-title-text">Print Design</p>
			</li>
			<li class="portfolio-foto-item">
				<img src="..//pic/portfolio3.jpg">
				<h3 class="img-title">Clever Poster</h3>
				<p class="img-title-text">Print Design</p>
			</li>
			<li class="portfolio-foto-item">
				<img src="..//pic/portfolio4.jpg">
				<h3 class="img-title">Vinyl Record</h3>
				<p class="img-title-text">Product Mock-Up</p>
			</li>
			<li class="portfolio-foto-item">
				<img src="..//pic/portfolio5.jpg">
				<h3 class="img-title">Treehouse Template</h3>
				<p class="img-title-text">Web Design</p>
			</li>
			<li class="portfolio-foto-item">
				<img src="..//pic/portfolio6.jpg">
				<h3 class="img-title">Burned Logo</h3>
				<p class="img-title-text">Branding</p>
			</li>
		</ul>
	</div>
	
</body>
</html>