.portfolio {
	width: 100%;
	background-color: #f7f7f7;
	text-align: center;
	padding-top: 120px;
}
.under-title-text {
	padding-bottom: 76px;
}
.portfolio-foto {
	text-align: center;
	display: block;
	width: 940px;
	margin: 0 auto;
}
.portfolio-foto-item {
	width: 290px;
	display: inline-block;
	background-color: white;
	text-align: center;
}