<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Studio</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/services.css">
    <link rel="stylesheet" href="../css/base.css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="services">
	    <h2 class="title-all">services</h2>
        <p class="under-title-text">Proin iaculis purus consequat sem cure</p>
        <div class="proin clearfix">
        <div class="center clearfix">
            <div class="proin1 clearfix">
                <img src="../pic/e-commerce_ic.png" alt="">
                <h3 class="com">E-Commerce</h3>
                <p>Proin iaculis purus consequat sem cure 
                   digni ssim. Donec porttitora entum suscipit 
                   aenean rhoncus posuere odio in tincidunt.</p>
            </div>
            <div class="proin2 clearfix">
                <img src="../pic/web_ic.png" alt=""" alt="">
                <h3 class="com">Responsive Web</h3>
                <p>Proin iaculis purus consequat sem cure 
                   digni ssim. Donec porttitora entum suscipit 
                   aenean rhoncus posuere odio in tincidunt.</p>
            </div>
            <div class="proin3 clearfix">
                <img src="../pic/security_ic.png" alt="">
                <h3 class="com">Web Security</h3>
                <p>Proin iaculis purus consequat sem cure 
                   digni ssim. Donec porttitora entum suscipit 
                   aenean rhoncus posuere odio in tincidunt.</p>
            </div>
        </div>    
        </div>
	</div>
</body>
</html>