.team {
	width: 100%;
	background-color: #f9f9f9;
	text-align: center;
	padding-top: 119px;
}
.under-title-text {
	padding-bottom: 76px;
}
.team-item {
	text-align: center;
	display: block;
	margin: 0 auto;
	font-size: 0px;
}
.team-item-block {
	display: inline-block;
	text-align: center;
}