<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>our amazing team</title>
	<link rel="stylesheet" href="..//css/reset.css">
	<link rel="stylesheet" href="team.css">
	<link rel="stylesheet" href="..//css/base.css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="team">
		<h2 class="title-all">our amazing team</h2>
		<p class="under-title-text">Proin iaculis purus consequat sem cure. </p>
		<div class="team-item">
			<div class="team-item-block">
				<p class="team-title">11111</p>
			</div>
			<div class="team-item-block">2</div>
			<div class="team-item-block">3</div>
		</div>		
	</div>
	
</body>
</html>