<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>our amazing team</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/team.css">
	<link rel="stylesheet" href="../css/base.css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="team">
		<h2 class="title-all">our amazing team</h2>
		<p class="under-title-text">Proin iaculis purus consequat sem cure. </p>
		<div class="team-item">
			<div class="team-item-block">
				<p class="circle"></p>
				<p class="team-title">Kimberly Thompson</p>
				<p class="team-title-text">Marketer</p>
				<i class="icons"><img src="../pic/twitter.png" alt=""></i>
				<i class="icons"><img src="../pic/facebook.png" alt=""></i>
				<i class="icons"><img src="../pic/pinterest.png" alt=""></i>
			</div>
			<div class="team-item-block">
				<p class="circle"></p>
				<p class="team-title">Rico Massimo</p>
				<p class="team-title-text">Coder</p>
				<i class="icons"><img src="../pic/twitter.png" alt=""></i>
				<i class="icons"><img src="../pic/facebook.png" alt=""></i>
				<i class="icons"><img src="../pic/google.png" alt=""></i>
			</div>
			<div class="team-item-block">
				<p class="circle"></p>
				<p class="team-title">Uku Mason</p>
				<p class="team-title-text">Graphic Designer</p>
				<i class="icons"><img src="../pic/facebook.png" alt=""></i>
				<i class="icons"><img src="../pic/pinterest.png" alt=""></i>
			</div>
			<p class="team-footer-text">Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit  
aenean rhoncus posuere odio in tincidunt proin iaculis.</p>
		</div>		
	
	</div>
	<div class="team-footer">
		<img src="../pic/brend1.png" alt="">
		<img src="../pic/brend2.png" alt="">
		<img src="../pic/brend3.png" alt="">
		<img src="../pic/brend4.png" alt="">
	</div>
	

	
</body>
</html>